@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  scroll-behavior: smooth;

  transition: background-color 0.7s, color 0.7s;
}

div, section {
  transition: background-color 0.7s, color 0.7s;
}

.dark-theme {
  @apply bg-gray-950 text-white
}

.light-theme {
  @apply bg-amber-100 text-gray-800
}

.dark-footer {
  @apply bg-gray-900 text-white
}

.light-footer {
  @apply bg-neutral-300 text-gray-900
}
